@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&display=swap')

/* colors */

$border-color: rgb(128, 128, 128)
$accent-color: rgb(254, 151, 106)
$accent-color-hover: rgb(255, 119, 60)
$danger-color: rgb(255, 0, 0)

/* sizes */

$indicator-size: 30px

$input-field-width: 260px
$input-field-height: 40px

/* grid */

@mixin row
  display: flex
  flex-direction: row

@mixin column
  display: flex
  flex-direction: column

/* borders */

@mixin border
  border: 1px solid rgba($border-color, 0.3)
  border-radius: 3px

@mixin border-focus
  border-color: rgba($border-color, 0.75)
  outline: none

@mixin border-hover
  border-color: rgba($border-color, 0.75)

/* inputs */

@mixin input-size
  width: $input-field-width
  height: $input-field-height

/* main */

*
  font-family: 'Ubuntu', sans-serif
  font-weight: 300
  box-sizing: border-box

body
  @include row
  justify-content: center
  margin: 0
  padding: 0

/* headings */

h1
  font-size: 22px
  font-weight: 700
  color: rgb(75, 75, 75)

/* buttons */

button
  @include border
  color: rgb(128, 128, 128)
  text-transform: uppercase
  font-weight: 400
  padding: 10px 17px

  &:disabled
    background: rgb(220, 220, 220)

  &:hover
    cursor: pointer
    transition: .3s

.btn-accent
  background: $accent-color
  color: rgb(255, 255, 255)
  border: none

  &:hover
    background: $accent-color-hover

/* pages */

.page-empty
  @include column
  margin: 50px 0px
  align-items: center
  gap: 50px

.page-container
  margin: 50px 0px
  width: 1070px

/* form */

form
  @include border
  @include column
  padding: 35px
  gap: 35px

  div
    display: flex
    flex-direction: column
    gap: 15px

  .title
    width: max-content
    position: relative

  .required
    &::after
      content: '*'
      color: $danger-color
      position: absolute
      right: -15px

  .action
    width: max-content

/* select */

select
  @include border
  @include input-size
  padding: 0 10px
  appearance: none

  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%)
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em
  background-size: 5px 5px, 5px 5px, 1px 1.5em
  background-repeat: no-repeat
  transition: border .3s

  &:hover
    @include border-hover
  &:focus
    @include border-focus
    background-image: linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, gray 50%)
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em
    background-size: 5px 5px, 5px 5px, 1px 1.5em
    background-repeat: no-repeat
    outline: 0

/* textarea */

textarea
  @include border
  transition: .3s
  width: 100%
  height: 150px
  padding: 10px
  resize: none

  &:hover
    @include border-hover
  &:focus
    @include border-focus

/* inputs */

input[type=text]
  @include border
  @include input-size
  transition: .3s
  padding: 0 10px

  &:hover
    @include border-hover
  &:focus
    @include border-focus

.form-group
  display: flex
  align-items: center
  position: relative
  cursor: pointer
  height: $indicator-size
  padding-left: $indicator-size * 1.5

  input
    position: absolute
    z-index: 0
    opacity: 0

  .indicator
    position: absolute
    background: rgb(255, 255, 255)
    border: 1px solid rgb(0, 0, 0)
    height: $indicator-size
    width: $indicator-size
    top: 0
    bottom: 0
    left: 0

  input[type=radio] + .indicator
    border-radius: 50%

  input:checked  + .indicator
    &::after
      content: ''
      position: absolute

  input[type=checkbox]:checked  + .indicator
    &::after
      border: solid rgb(0, 0, 0)
      border-width: 0 2px 2px 0
      transform: translate(-50%, -50%) rotate(45deg)
      width: $indicator-size * 0.25
      height: $indicator-size * 0.5
      left: 50%
      top: 50%

  input[type=radio]:checked  + .indicator
    &::after
      background: rgb(0, 0, 0)
      border-radius: 50%
      width: $indicator-size * 0.5
      height: $indicator-size * 0.5
      transform: translate(-50%, -50%)
      left: 50%
      top: 50%

  input[type=radio]:disabled + .indicator
    border-color: rgb(190, 190, 190)
    background: rgb(235, 235, 235)

/* hint */

.hint
  @include column
  gap: 0px

  p
    font-size: 14px
    color: gray
    margin: 0
