<template>
  <div class="page-container">
    <h1>Форма подачи заявки в отдел сервиса и качества</h1>
    <form @submit.prevent="request()">
      <div>
        <div class="title required">Ваш филиал</div>
        <select v-if="cities" v-model="branch.value" :disabled="branch.online">
          <option value="" hidden>Выберите город</option>
          <option v-for="item in cities" :key="item.id" :value="item.id">
            {{ item.title }}
          </option>
        </select>
        <div>
          <label class="form-group">
            Онлайн
            <input
              type="checkbox"
              v-model="branch.online"
              @change="resetBranch()"
            />
            <div class="indicator"></div>
          </label>
        </div>
      </div>
      <div>
        <div class="title required">Тема обращения</div>
        <div>
          <label
            class="form-group"
            v-for="item in topics.options"
            :key="item.id"
            >{{ item.title }}
            <input
              type="radio"
              v-model="topics.value"
              :value="item.id"
              :disabled="topics.other.length > 0"
            />
            <div class="indicator"></div>
          </label>
        </div>
        <div>
          <input
            type="text"
            placeholder="Другое"
            v-model="topics.other"
            @keyup="resetTopic()"
          />
        </div>
      </div>
      <div>
        <div class="title required">Описание проблемы</div>
        <textarea v-model="description" placeholder="Введите текст" />
      </div>
      <div>
        <div class="title">Загрузка документов</div>
        <div class="hint">
          <p>Приложите, пожалуйста, полноэкранный скриншот.</p>
          <p>Это поможет быстрее решить проблему.</p>
        </div>
        <input type="file" ref="documents" @change="getDocuments()" multiple />
      </div>
      <div class="action">
        <button class="btn-accent" :disabled="!validation">Отправить</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      branch: {
        value: "",
        online: false,
      },
      topics: {
        value: "",
        other: "",
        options: require("@/data/topics.json"),
      },
      description: "",
      documents: null,
    };
  },
  computed: {
    ...mapState({
      cities: (state) => state.cities.data,
    }),
    validation() {
      /* branch */
      if (this.branch.value === "" && !this.branch.online) return false;
      /* topics */
      if (this.topics.value === "" && this.topics.other.length === 0)
        return false;
      /* description */
      if (this.description.length === 0) return false;
      return true;
    },
  },
  methods: {
    ...mapActions({
      citiesLoad: "cities/load",
    }),
    resetBranch() {
      this.branch.value = "";
    },
    resetTopic() {
      this.topics.value = "";
    },
    getDocuments() {
      this.documents = this.$refs.documents.files;
    },
    request() {
      if (this.validation) {
        this.$router.push({ name: "result-view" });
        /* alert("Ошибка отправки заявки"); */
      }
    },
  },
  mounted() {
    this.citiesLoad();
  },
};
</script>
