<template>
  <div class="page-empty">
    <h1>Заявка отправлена</h1>
    <div>
      <img :src="require('@/assets/success_img.png')" alt="Success image" />
    </div>
    <div>
      <button class="btn-accent" @click="goBack()">Вернуться назад</button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>
